@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");

:root {
  --a: 0;
  --body: #333333;
  --container: #1c1c1c;
  --card: #2c3e50;
  --text: rgb(255, 239, 239);
  --header: #000000;
  --invert: invert(1);
  --ulta: invert(0);
}
a {
  all: unset;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.ulta {
  filter: var(--ulta);
}
#theme-toggle {
  all: unset;
}
#dark-icon {
  filter: var(--invert);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.light-theme {
  --body: #fff2f2;
  --container: #ffdddd;
  --text: #333333;
  --header: #ff8888;
  --card: rgb(255, 114, 110);
  --invert: invert(0);
  --ulta: invert(1);
}

.li {
  background-color: var(--card);
}

.close {
  display: none;
}

#searchInput {
  all: unset;
}
#searchInput:hover {
  color: #d1d1d1;
  cursor: pointer;
}
#searchInput:focus {
  outline: none;
  border: 1px solid var(--text);
  padding: 2px;
  border-radius: 5px;
}

body {
  background-color: var(--body);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

.songimg {
  border-radius: 8px;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  position: relative;
}

.right children {
  position: absolute;
}

.right {
  width: 72vw;
}
h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Sixtyfour Convergence", sans-serif;
}
h1 > img {
  width: 50px;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.right {
  margin: 16px 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--header);
  border-radius: 12px;
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists h1 {
  padding: 16px;
}

.cardContainer {
  margin: 30px;
  margin-bottom: 50px;
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 60vh;
  position: relative;
  z-index: 0;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--card);
  position: relative;
  transition: all 0.9s;
}

@property --direction {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: conic-gradient(from var(--direction), transparent 20%, red);
  z-index: -1;
  padding: 2px;
  border-radius: 8px;
  animation: rotate 10s linear infinite;
}

.card::before {
  filter: blur(0.5rem);
  opacity: 0.5;
}

@keyframes rotate {
  from {
    --direction: 0deg;
  }
  to {
    --direction: 360deg;
  }
}

.card:hover {
  background-color: rgb(105, 103, 103);
  cursor: pointer;
  --a: 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 88px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: var(--header);
  color: #efefef;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: var(--text);
  border-radius: 21px;
  color: var(--body);
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
}

.playbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2px;
  bottom: 30px;
  background: #e2d9d9;
  border-radius: 10px;
  width: 90%;
  padding: 12px;
  width: 68vw;
  min-height: 40px;
}
.playbar {
  background: linear-gradient(
    -45deg,
    #d02600,
    #d67600,
    #ceb200,
    #00bc5b,
    #028ecb,
    #6b00d2
  );
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid rgba(146, 143, 143, 0.491);
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
}

.credit{
  font-size: 11px;
  margin-top: 4px;
  color: #686868;
  line-height: 1.3;
}

.links{
font-weight: bold;
}


.links:hover{
  color: rgb(60, 60, 254);
  text-decoration: underline;
}

.songList .info {
  font-size: 13px;
  width: 344px;
}

.info div {
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.seekbar {
  height: 4px;
  width: 98%;
  background: var(--header);
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: blueviolet;
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
  filter: var(--ulta);
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo {
  color: var(--body);
  padding: 0 12px;
  width: 250px;
}

.songtime {
  width: 125px;
  padding: 0 12px;
  color: var(--body);
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  filter: var(--ulta);
}
.volumer {
  /* filter: invert(1); */
}
.range input {
  cursor: pointer;
}

.volumer {
  -webkit-appearance: none; /*Remove default styling*/
  width: 100%;
  height: 8px;
  background: #006aff; /* Background color (orange) */
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volumer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 10px;
  background: #00aeff; /* Thumb color (orange) */
  cursor: pointer;
  border-radius: 30%;
}

.volumer::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ff0000; /* Thumb color (orange) */
  cursor: pointer;
  border-radius: 50%;
}


.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 1;
    width: 373px;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .songinfo,
  .songtime {
    width: auto;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
  }

  .playbar {
    width: calc(100vw - 75px);
  }

  .seekbar {
    width: calc(100vw - 120px);
  }

  .hamburger {
    display: block;
  }

  .right {
    margin: 0;
  }

  .card {
    width: 55vw;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
  }

  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .cardContainer {
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
  }

  .playbar {
    right: 25px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }

  .header > * {
    padding: 2px;
  }

  .buttons > * {
    margin: 0 6px;
  }

  .header {
    padding: 7px;
  }

  .spotifyPlaylists h1 {
    padding: 4px;
  }

  .library {
    height: 85vh;
  }

  .left {
    width: 100vw;
  }
}
